- 
    let exp = [
        {
            "id": 1,
            "position": "SENIOR SOFTWARE ENGINEER",
            "company": "TulaCo",
            "website": "https://tula.co",
            "address": "Remote",
            "sector": "Software Development",
            "description":[
                "Improved code quality and performance by 25% through refactoring and optimization.", 
                "Leveraged diverse tools and technologies to deliver innovative solutions that increased customer satisfaction and retention.", 
                "Demonstrated ability to learn new languages and frameworks quickly, such as React, Codeception, and Django"
                ],
            "date_started": "MAR 2023",
            "date_ended": "PRESENT",
            "skills": ["PHP", "Bash Scripting", "AWS", "Codeception", "SQL"]
        },
        {
            "id": 2,
            "position": "PYTHON COURSE LECTURER",
            "company": "UNILAB",
            "website": "https://unilab.iliauni.edu.ge",
            "address": "Tbilisi, Georgia",
            "sector": "Education",
            "description": [
                "Teach over 150 students and helped them develop their skills in Web Development in Python OOP and Flask API as well as built in modules like os, argparse, logging etc.",
                "Create and maintain course materials, including lesson plans, lectures, exercises, and assessments.",
                "Assist students in understanding complex concepts and troubleshooting programming challenges."
                ],
            "date_started": "SEP 2021",
            "date_ended": "APR 2023",
            "skills": ["Python", "Flask", "OOP", "SQL", "Git", "GitHub", "Linux", "VSCode", "JetBrains", "Mermaid js"]
        },
        {
            "id": 3,
            "position": "WEB DEVELOPER",
            "company": "NATIONAL ARCHIVES OF GEORGIA",
            "website": "https://archive.gov.ge/",
            "address": "Tbilisi, Georgia",
            "sector": "Government",
            "description": [
                "Automate and optimize document organizing, sorting and searching with over 7 PHP/Laravel web applications.",
                "Designed and developed system, facilitating document annotation and management.",
                "Implemented online shop payment system increasing sales by 20%."
                ],
            "date_started": "DEC 2018",
            "date_ended": "APR 2023",
            "skills": ["PHP", "OOP", "SQL", "Git", "GitHub", "Linux", "VSCode", "JetBrains", "Mermaid js", "Figma", "Unit Tests"]
        },
        {
            "id": 4,
            "position": "WEB DEVELOPER",
            "company": "ALTER WAY",
            "website": "#",
            "address": "Tbilisi, Georgia",
            "sector": "Marketing",
            "description": [
                "Designed and developed online trivia game with PHP/Codeigniter3/MySql and JavaScript/jQuery/Ajax increasing brand awareness by 32%.",
                "Provided technical support and troubleshooting assistance to clients.",
                "Ensured that websites were user-friendly, visually appealing, and optimized for search engines."
                ],
            "date_started": "NOV 2016",
            "date_ended": "MAY 2018",
            "skills": ["PHP", "OOP", "SQL", "Git", "GitHub", "Linux", "VSCode"]
        },
    ]